<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=". Powered by Elixir">
      <%= assigns[:page_title] || "FormulaX" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
  <footer class="flex flex-col items-center text-gray-600 text-xs">
    <p class="font-semibold">© Rajenth 2023</p>
    <p>Car pictures by <a href="https://www.freepik.com/author/macrovector">@macrovector</a> and background pictures by <a href="https://www.freepik.com/author/brgfx">@brgfx</a> via <a href="https://www.freepik.com/">freepik</a></p>
  </footer>
</html>
