@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.race_live {
  @apply flex justify-center items-center h-[100vh];
  background-color: #fffff0d4;
}

.race_live .console {
  @apply w-[110rem] h-[45rem] bg-gray-600 rounded-full flex items-center justify-evenly;
  box-shadow: 5px 5px 5px 5px rgb(65, 65, 65);
}

.race_live .console .screen {
  @apply w-[35rem] min-h-[35rem] bg-gray-50 rounded-md flex justify-center;
  box-shadow: 0 0 30px rgb(197, 197, 197);
}

.race_live .console .screen .tracks .track {
  @apply w-24 h-full inline-block border-r bg-gray-100;
}

.race_live .console .screen .cars {
  @apply absolute;
}

.race_live .console .screen .cars img {
  @apply w-14 inline-block;
}

.race_live .console .speed_controls {
  @apply flex flex-col gap-2;
}

.race_live .console .speed_controls .top,
.race_live .console .speed_controls .bottom {
  @apply w-64 h-32 relative block;
  box-shadow: 3px 3px 2px 2px rgb(65, 65, 65);
}

.race_live .console .speed_controls .top {
  @apply rounded-t-full;
  background-color: #2f847c;
}

.race_live .console .speed_controls .bottom {
  @apply rounded-b-full;
  background-color: #f08080;
}

.race_live .console .direction_controls {
  @apply flex gap-2;
}

.race_live .console .direction_controls .left,
.race_live .console .direction_controls .right {
  @apply w-32 h-64 relative block;
  box-shadow: 3px 3px 2px 2px rgb(65, 65, 65);
}

.race_live .console .direction_controls .left {
  @apply rounded-l-full;
  background-color: #ffffe0;
}

.race_live .console .direction_controls .right {
  @apply rounded-r-full;
  background-color: #006994;
}
