@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.race_live {
  @apply flex justify-center items-center h-[100vh];
  background-color: #fffff0d4;
}

.race_live .console {
  @apply w-[45rem] h-[60rem] bg-gray-600 rounded-3xl flex flex-col items-center;
}

.race_live .console .screen {
  @apply w-[35rem] min-h-[35rem] bg-gray-50 mt-20 rounded-md flex justify-center;
}

.race_live .console .screen .tracks .track {
  @apply w-24 h-full inline-block border-r bg-gray-100;
}

.race_live .console .screen .cars {
  @apply absolute;
}

.race_live .console .screen .cars img {
  @apply w-14 inline-block;
}

.race_live .console .controls .top,
.race_live .console .controls .bottom,
.race_live .console .controls .right,
.race_live .console .controls .left {
  @apply w-20 h-20 relative block;
  background-color: #000000;
}

.race_live .console .controls .top {
  border-radius: 0 0 0 5rem;
  transform: rotate(135deg);
  @apply top-[3.75rem];
}

.race_live .console .controls .bottom {
  border-radius: 0 5rem 0 0;
  transform: rotate(135deg);
  @apply top-[6.25rem];
}

.race_live .console .controls .right {
  border-radius: 0 0 5rem 0;
  transform: rotate(-45deg);
  @apply top-[-2.5rem] left-[3.75rem];
}

.race_live .console .controls .left {
  border-radius: 5rem 0 0 0;
  transform: rotate(-45deg);
  @apply top-[-7.5rem] right-[3.75rem];
}
